.main-heading {
  color: #ff5050;
  text-align: center;
}

.main-sub-heading {
  color: #ff5050;
  text-align: center;
  padding-bottom: 5%;
}

.push-down {
  padding-top:3%;
}

.image {
  width: 100%;
  height: 100%;
}

.tasks {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 9%;
  border: 1px solid black;
  outline-style: dotted;
  outline-width: 12px;
  margin-bottom: 50px;
}

.details {
  outline-style: dotted;
  outline-width: 6px;
  padding: 2%;
}

.details-heading {
  padding-top:3%;
}

.details-sub-heading {
  padding-top: 3%;
}

.space-below {
  padding: 3%;
}

.wraparound {
  /*height: 588px;
  width: 639px;*/
  width: 49%;
  margin-top: 9%;
  border: 6px solid black;
  outline-style: dotted;
  outline-color: #ff5050;
  margin-left: 28%;
  overflow: auto;
  /*padding: 2%;*/
  position: relative;
}

.details-image {
  padding-bottom: 4%;
  max-width: 100%;
  height: auto;
}

.about {
  height: 588px;
  width: 655px;
  margin-top: 3%;
  border: 2px solid black;
  outline-style: dotted;
  outline-color: black;
  margin-left: 28%;
  overflow: auto;
  position: relative;
  padding-top: 1%;
}

.about-header {
  margin-top: 8%;
  padding-left:9%;
  color: #ff5050;
}
