.main-heading {
  color: #ff5050;
  padding-left: 11%;
}

.main-sub-heading {
  color: #ff5050;
  padding-left: 29%;
  padding-bottom: 5%;
}

.push-down {
  padding-top:3%;
}

.image {
  width: 100%;
  height: 426px;
}

.tasks {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 9%;
  border: 1px solid black;
  outline-style: dotted;
  outline-width: 12px;
  margin-bottom: 50px;
}

.details {
  outline-style: dotted;
  outline-width: 6px;
  padding: 2%;
}

.details-heading {
  padding-top:3%;
}

.details-sub-heading {
  padding-top: 3%;
}

.space-below {
  padding: 3%;
}

.wraparound {
  height: 588px;
  width: 639px;
  margin-top: 9%;
  border: 6px solid black;
  outline-style: dotted;
  outline-color: #ff5050;
  margin-left: 28%;
  overflow: auto;
  /*padding: 2%;*/
  position: relative;
}

.details-image {
  padding-bottom: 4%;
}
